.login-component-container{
    position:relative;
    flex: block;
    width: 500px;
    height: 500px;
    border-style: groove;
    padding: 100px;
    border-radius: 20px;
    opacity: 1;
    border-color: rgba(27, 49, 248, 0.3);
    background-color: rgba(27, 49, 248, 0.4);
    opacity: 1;
    z-index: 1;
}

.login-component-form{
    position:relative;
    opacity: 1;
}